@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-d-square:before {
  content: ""
}
._icon-chevron-right:before {
  content: ""
}
._icon-discount-shape:before {
  content: ""
}
._icon-key-square:before {
  content: ""
}
._icon-message-question:before {
  content: ""
}
._icon-search:before {
  content: ""
}
._icon-user-square:before {
  content: ""
}
._icon-wallet-money:before {
  content: ""
}
:root {
  --primary: rgb(41, 45, 50);
  --secondary: rgb(181, 183, 192);
  --bg-primary: rgb(89, 50, 234);
  --bg-btn-active-accent: rgb(22, 192, 152);
  --bg-btn-active: rgba(22, 192, 152, 0.38);
  --bg-btn-dis-accent: rgb(223, 4, 4);
  --bg-btn-dis: rgb(255, 197, 197)
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: var(--primary);
  line-height: 1;
  font-family: Poppins;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Poppins;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #fafbff;
  line-height: 1.5
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 86.375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,84.5rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.tabs-dashboard {
  display: flex;
  gap: clamp(1.875rem,1.0804rem + 3.9729vw,4.4375rem)
}
.tabs-dashboard__side-bar {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 60px 0 rgba(226,236,249,.5);
  background: #fff;
  gap: 3.3125rem;
  padding-inline: clamp(.625rem,.2762rem + 1.7442vw,1.75rem);
  padding-block: clamp(.8125rem,.3668rem + 2.2287vw,2.25rem);
  -webkit-padding-after: clamp(.8125rem,-.2146rem + 5.1357vw,4.125rem);
  padding-block-end: clamp(.8125rem,-.2146rem + 5.1357vw,4.125rem);
  block-size: 100vh;
  overflow-y: auto
}
.tabs-dashboard__navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1.1875rem
}
.tabs-dashboard__title {
  display: flex;
  min-inline-size: 100%;
  gap: .9375rem;
  align-items: center;
  color: var(--secondary);
  padding: .75rem .8125rem;
  border-radius: .3125rem
}
.tabs-dashboard__title::before {
  font-size: 1.3125rem
}
.tabs-dashboard__title span {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: .9375rem;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: -1%
}
.tabs-dashboard__title span::before {
  font-size: .5rem
}
.tabs-dashboard__title._tab-active {
  border: 1px solid #000;
  color: #fff;
  background-color: var(--bg-primary)
}
.tabs-dashboard__logo {
  height: 2.3125rem;
  display: flex;
  gap: .5rem;
  align-items: center
}
.tabs-dashboard__logo img {
  justify-self: start;
  width: 2.3125rem;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  aspect-ratio: 1
}
.tabs-dashboard__logo h3 {
  font-size: 1.625rem;
  font-weight: 600
}
.tabs-dashboard__logo span {
  font-size: .625rem;
  font-weight: 500;
  align-self: flex-end;
  padding-bottom: .5rem
}
.tabs-dashboard__welcome-content {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -1%
}
.tabs-dashboard__welcome-content:not(:last-child) {
  margin-bottom: 3.1875rem
}
.tabs-dashboard__body {
  border-radius: 1.875rem;
  box-shadow: 0 10px 60px 0 rgba(226,236,249,.5);
  background-color: #fff
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.icon-menu {
  display: none
}
.user-block {
  display: grid;
  grid-template-columns: auto 1fr
}
.user-block img {
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  grid-row: span 2
}
.user-block img:not(:last-child) {
  margin-right: .75rem
}
.user-block h4 {
  grid-row: span 2;
  font-weight: 500;
  grid-row: span 1
}
.user-block span {
  color: #757575;
  font-size: .75rem;
  grid-row: span 1;
  grid-column: 2
}
.customers {
  padding-block: 1.875rem;
  padding-inline: 2.375rem
}
.customers__header {
  display: grid;
  grid-template-columns: 1fr auto
}
.customers__title {
  color: #000;
  font-size: 1.375rem;
  font-weight: 600;
  grid-row: 1
}
.customers__title:not(:last-child) {
  margin-bottom: .4375rem
}
.customers__label-status {
  color: var(--bg-btn-active-accent);
  grid-row: 2
}
.customers__label-status:not(:last-child) {
  margin-bottom: .4375rem
}
.customers__search {
  align-content: end;
  border-radius: .625rem;
  background-color: #f9fbff;
  position: relative;
  grid-row: 2
}
.customers__search::before {
  color: #7e7e7e;
  position: absolute;
  top: 50%;
  left: .4375rem;
  translate: 0 -50%;
  font-size: 1.5rem
}
.customers__search input {
  padding: .5rem;
  padding-left: 2.375rem;
  width: 100%;
  height: 100%
}
.customers__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2rem;
  padding-inline: .125rem;
  flex-wrap: wrap;
  gap: 1.25rem
}
.customers__entries {
  color: var(--secondary);
  font-weight: 500
}
.table-customers td,
.table-customers th {
  -webkit-padding-start: .125rem;
  padding-inline-start: .125rem;
  -webkit-padding-end: .625rem;
  padding-inline-end: .625rem;
  padding-block: 1.125rem;
  border-bottom: .0625rem solid #eee
}
.table-customers th {
  text-align: left;
  color: var(--secondary)
}
.table-customers td {
  color: var(--primary);
  font-weight: 500;
  letter-spacing: -1%
}
.table-customers td span {
  display: block;
  text-align: center;
  width: 100%;
  padding-block: .25rem;
  padding-inline: 1.125rem;
  border: .0625rem solid transparent;
  border-radius: .25rem
}
.table-customers td span.active {
  color: var(--bg-btn-active-accent);
  border-color: var(--bg-btn-active-accent);
  background-color: var(--bg-btn-active)
}
.table-customers td span.inactive {
  color: var(--bg-btn-dis-accent);
  border-color: var(--bg-btn-dis-accent);
  background-color: var(--bg-btn-dis)
}
.pagination {
  display: flex;
  justify-content: end;
  gap: .75rem
}
.pagination>button {
  width: 1.625rem;
  aspect-ratio: 1;
  border: 1px solid #eee;
  border-radius: 4px;
  background: #f5f5f5;
  transition: all .3s
}
.fade-in {
  -webkit-animation: fadeIn .4s ease-in-out;
  animation: fadeIn .4s ease-in-out
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@media (min-width:86.375em) {
  .tabs-dashboard__content-box {
    padding-inline: .75rem;
    padding-block: clamp(1.25rem,11.3032rem - 11.1702vw,2.5625rem)
  }
}
@media (max-width:86.375em) {
  .table-customers thead {
    display: none
  }
  .table-customers tbody {
    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
    width: 100%
  }
  .table-customers tr {
    display: block;
    margin-bottom: 30px;
    flex: 1 1 auto
  }
  .table-customers td,
  .table-customers th {
    display: block;
    text-align: center
  }
  .table-customers td {
    border-right: none
  }
}
@media (max-width:61.99875em) {
  .tabs-dashboard__title {
    width: 2.5rem
  }
  .customers {
    padding-block: .625rem;
    padding-inline: .625rem
  }
}
@media (max-width:47.99875em) {
  .tabs-dashboard__side-bar {
    padding-inline: .625rem;
    padding-block: .625rem;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    z-index: 100;
    overflow: auto;
    transition: left .3s
  }
  .menu-open .tabs-dashboard__side-bar {
    left: 0
  }
  .menu-open .tabs-dashboard__side-bar::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: absolute;
    top: .625rem;
    right: 1.25rem;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 101
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu {
    top: 1.25rem
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .customers__search {
    grid-row: 3
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .table-customers tr {
    display: block;
    margin-bottom: 30px;
    flex: 1 1 100%
  }
}
@media (min-width:47.99875em)and (max-width:86.375em) {
  .tabs-dashboard__side-bar {
    justify-content: center;
    align-items: center
  }
  .tabs-dashboard__title span {
    display: none
  }
  .tabs-dashboard__title {
    padding: .5rem
  }
  .tabs-dashboard__user-block h4 {
    display: none
  }
  .tabs-dashboard__user-block span {
    display: none
  }
  .tabs-dashboard__logo h3 {
    display: none
  }
  .tabs-dashboard__logo span {
    display: none
  }
}
@media (any-hover:hover) {
  .pagination>button:hover {
    color: #fff;
    background-color: var(--bg-primary)
  }
}